.header {
    height: 50px;
    margin-bottom: 30px;
  }


.logo {
    height: 1.6rem;
    will-change: filter;
    transition: filter 300ms;
    margin: 10px;
    color: #0e88df;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }

.nav {
  justify-content: space-between;
  background-color: #fff;
  color: #0e88df;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
}


.nav div {
  margin: 0;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1.5rem;
}


.nav a {
  color: inherit;
  text-decoration: none;
  
  font-size: 1rem;
  font-weight: 500;
  font-family: "Open Sans",system-ui,sans-serif;
}

.nav a:hover {
  color: red;
}

.nav li {
  display: flex;
  align-items: center;
}

.drpdwn {
  /* background-color: #4CAF50; */
  /* color: white; */
  /* padding: 16px;
  font-size: 16px; */
  color: #0e88df;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Open Sans",system-ui,sans-serif;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 8px;
}

.dropdown-content a {
  display: block;
  color: #0e88df;
  padding: 0 10px 10px;
  margin: 10px;
  text-decoration: none;
}


.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .drpdwn {
  color: red;
}


.vin {
  font-weight: 750;
  color: white;
  padding: 10px 25px ;
  border-radius: 20px;
  background-color: color(display-p3 0.0431 0.7255 0.4706);
  border-width: 0 0 2px 2px;
  border-color: color(display-p3 0.0196 0.5608 0.3647);
}

.vin:hover {
  background-color: rgb(0, 163, 104);
}

.add {
  font-weight: 600;
  color: white;
  border-width: 0 0 3px 3px;
  border-color: color(display-p3 0.2039 0.3843 0.6);
  background-color: color(display-p3 0.055 0.5333 0.8745);
  padding: 10px 15px ;
  border-radius: 5px;
}

.add:hover {
  background-color:color(display-p3 0.2039 0.3843 0.6);
}